body#picker
    section
        h4
            background-color: cyan
            border-left: 7px blue solid
        hr.blue
            border: solid blue 3px
        div#line1
            button.bg-tar
                height: 30px !important
                width: 30px !important
                border-radius: 5px
            button#w
                background-color: white
            button#sol
                border-style: solid
            button#dot
                border-style: dotted
            button.bor-style
                width: 80px
                height: 30px
                border: 3px black
        div#line2
            margin-bottom: 8px
        input
            width: 60px
            height: 30px
        input#color
            width: 50px
        div#target
            margin-top: 10px
            width: 350px
            height: 150px
            // border: 5px solid black